*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-padding-top: 82px;
}

body {
  position: relative;
  font-family: "Montserrat", sans-serif;
  background-color: #ebecf2;
}

h2 {
  text-align: center;
  text-transform: uppercase;
}

.underline {
  margin: 0 auto 40px;
  width: 60px;
  height: 4px;
  background-color: #039dff;
}

.shadow-bg {
  background-color: rgba(0, 0, 0, 0.8);
}

nav {
  text-transform: uppercase;
  z-index: 3;
  transition: background-color 0.6s;
}
nav .nav-link, nav .navbar-brand, nav i {
  color: #ffffff;
}
nav .navbar-brand {
  color: #ffffff;
  font-weight: bold;
}
nav .navbar-brand span {
  color: #039dff;
}
nav .nav-link:hover, nav .navbar-brand:hover {
  color: #039dff;
}
nav .navbar-nav .nav-link.active {
  color: #039dff;
}
nav .fa-bars, nav .fa-caret-down {
  padding: 10px;
}

header .hero-img {
  position: relative;
  top: 0;
  height: 100vh;
  background-image: url("../img/ps5.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: 0;
}
header .hero-img .fa-chevron-down {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10%;
  font-size: 30px;
  color: #ffffff;
}
header .hero-img::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
}
header .image-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  color: #ffffff;
  text-transform: uppercase;
  height: 100%;
  z-index: 1;
}
header .image-text h1 {
  font-size: 30px;
  letter-spacing: 2px;
}
header .image-text h1 span {
  color: #039dff;
}
header .image-text p {
  font-size: 14px;
}

.aboutus i {
  margin-top: 20px;
  font-size: 30px;
}
.aboutus .aboutus-card-title {
  font-size: 18px;
  text-transform: uppercase;
}
.aboutus .aboutus-card-text {
  font-size: 14px;
}
.aboutus .aboutus-hover {
  transition: color 0.6s;
}
.aboutus .aboutus-hover:hover {
  color: #039dff;
}
.aboutus .hero-img {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../img/czip.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.aboutus .hero-img .aboutus-hero-title, .aboutus .hero-img .aboutus-hero-text, .aboutus .hero-img h2, .aboutus .hero-img i {
  color: #dddddd;
}
.aboutus .hero-img .aboutus-hero-item {
  transition: color 0.6s;
  margin: 10px 0;
}
.aboutus .hero-img .aboutus-hero-item i {
  font-size: 36px;
}
.aboutus .hero-img .aboutus-hero-item .aboutus-hero-title {
  font-size: 24px;
}
.aboutus .hero-img .aboutus-hero-item p, .aboutus .hero-img .aboutus-hero-item i {
  transition: color 0.6s;
}
.aboutus .hero-img .aboutus-hero-item:hover p {
  color: #039dff;
}
.aboutus .hero-img .aboutus-hero-item:hover i {
  color: #039dff;
}
.aboutus .hero-img::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.portfolio .carousel-item {
  position: relative;
}
.portfolio .carousel-item .carousel-img {
  position: relative;
  top: 0;
  height: 40vh;
  background-position: center;
  background-size: cover;
}
.portfolio .carousel-item .carousel-shadow {
  position: absolute;
  bottom: 15px;
  width: 100%;
  height: 30%;
  background-color: rgba(0, 0, 0, 0.8);
}
.portfolio .carousel-item .img-first {
  background-image: url("../img/gracze.jpg");
}
.portfolio .carousel-item .img-second {
  background-image: url("../img/auto.jpg");
}

.prices .price-box {
  margin: 20px 10px;
  padding: 30px;
  background-color: #ffffff;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s;
}
.prices .price-box h3 {
  text-transform: uppercase;
  color: #039dff;
}
.prices .price-box i {
  padding: 0 5px;
  font-size: 24px;
}
.prices .price-box .price-tag {
  font-size: 36px;
  font-weight: bold;
}
.prices .price-box span {
  font-weight: bold;
}
.prices .price-box hr {
  width: 85%;
  margin: 20px auto;
}
.prices .price-box:hover {
  transform: scale(1.05);
}
.prices .price-info {
  margin-top: 40px;
  text-align: center;
}
.prices .price-info a {
  text-decoration: none;
}
.prices .text-muted {
  text-align: center;
}

.team .hero-img {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../img/office.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.team .hero-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
.team .team-content {
  z-index: 1;
}
.team .team-content h2 {
  color: #ebecf2;
}
.team .card {
  margin: 10px 30px;
  transition: transform 0.3s;
}
.team .card img {
  height: 300px;
  object-fit: cover;
}
.team .card .card-body {
  height: 160px;
}
.team .card .card-body h5 {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}
.team .card .card-footer {
  padding: 15px 0;
}
.team .card i {
  font-size: 20px;
}
.team .card:hover {
  transform: scale(0.95);
}

@media (min-width: 375px) {
  header .image-text h1 {
    font-size: 36px;
  }
  header .image-text p {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  header .image-text h1 {
    font-size: 42px;
  }
  header .image-text p {
    font-size: 20px;
  }
}
@media (min-width: 992px) {
  nav {
    height: 82px;
  }
  .prices .price-info {
    font-size: 18px;
  }
}

/*# sourceMappingURL=style.css.map */
