$colors: (left: lime,
        middle: gold,
        right: tomato
);

@mixin addons {
  border-radius: 25px;
  background-color: gold;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100vh;
  background-color: #333;
  font-family: sans-serif;
}

.square {
  margin: 30px;
  width: 200px;
  height: 200px;
  border: 2px solid black;
  @include addons;
}