@use 'colors' as c;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-padding-top: 82px;
}

body {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  background-color: c.$bg-color;
}

h2 {
  text-align: center;
  text-transform: uppercase;
}

.underline {
  margin: 0 auto 40px;
  width: 60px;
  height: 4px;
  background-color: c.$mainColor;
}

.shadow-bg {
  background-color: rgba(0, 0, 0, .8);
}

nav {
  text-transform: uppercase;
  z-index: 3;
  transition: background-color .6s;

  .nav-link, .navbar-brand, i {
    color: c.$whiteColor;
  }

  .navbar-brand {
    color: c.$whiteColor;
    font-weight: bold;

    span {
      color: c.$mainColor;
    }
  }

  .nav-link:hover, .navbar-brand:hover {
    color: c.$mainColor;
  }

  .navbar-nav .nav-link.active {
    color: c.$mainColor;
  }

  .fa-bars, .fa-caret-down {
    padding: 10px;
  }
}

header {

  .hero-img {
    position: relative;
    top: 0;
    height: 100vh;
    background-image: url('../img/ps5.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 0;

    .fa-chevron-down {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 10%;
      font-size: 30px;
      color: c.$whiteColor;
    }
  }

  .hero-img::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    z-index: -1;
  }

  .image-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    color: c.$whiteColor;
    text-transform: uppercase;
    height: 100%;
    z-index: 1;

    h1 {
      font-size: 30px;
      letter-spacing: 2px;

      span {
        color: c.$mainColor;
      }
    }

    p {
      font-size: 14px;
    }

  }
}

.aboutus {
  i {
    margin-top: 20px;
    font-size: 30px;
  }

  .aboutus-card-title {
    font-size: 18px;
    text-transform: uppercase;
  }

  .aboutus-card-text {
    font-size: 14px;
  }

  .aboutus-hover {
    transition: color .6s;
  }

  .aboutus-hover:hover {
    color: c.$mainColor;
  }
}

.aboutus-hero {
  position: relative;
  background-image: url('../img/czip.jpg');
  background-position: center;
  background-size: cover;
  color: c.$bg-color;
  z-index: 0;

  .aboutus-shadow {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    z-index: -5;
  }

  .aboutus-hero-item {
    margin: 10px 0;

    i {
      font-size: 36px;
    }

    .aboutus-hero-title {
      font-size: 24px;
    }
  }

}

.portfolio {
  .carousel-item {
    position: relative;

    .carousel-img {
      position: relative;
      top: 0;
      height: 40vh;
      background-position: center;
      background-size: cover;
    }

    .carousel-shadow {
      position: absolute;
      bottom: 15px;
      width: 100%;
      height: 30%;
      background-color: rgba(0, 0, 0, .8);
    }

    .img-first {
      background-image: url('../img/gracze.jpg');
    }

    .img-second {
      background-image: url('../img/auto.jpg');
    }
  }
}

.prices {
  .price-box {
    margin: 20px 10px;
    padding: 30px;
    background-color: c.$whiteColor;
    box-shadow: 5px 5px 5px rgba(0,0,0,.4);
    transition: transform .3s;

    h3 {
      text-transform: uppercase;
      color: c.$mainColor;
    }

    i {
      padding: 0 5px;
      font-size: 24px;
    }

    .price-tag {
      font-size: 36px;
      font-weight: bold;
    }

    span {
      font-weight: bold;
    }

    hr {
      width: 85%;
      margin: 20px auto;
    }
  }

  .price-box:hover {
    transform: scale(1.05);
  }

  .price-info {
    margin-top: 40px;
    text-align: center;

    a {
      text-decoration: none;
    }
  }
  .text-muted {
    text-align: center;
  }
}

.team {

  .hero-img {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../img/office.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  .hero-img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
  }

  .team-content {
    z-index: 1;
    h2 {
      color: c.$bg-color;
    }
  }

  .card {
    margin: 10px 30px;
    transition: transform .3s;

    img {
      height: 300px;
      object-fit: cover;
    }

    .card-body {
      height: 160px;
      h5 {
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
        margin-bottom: 20px;
      }
    }

    .card-footer {
      padding: 15px 0;
    }

    i {
      font-size: 20px;
    }
  }

  .card:hover {
    transform: scale(0.95);
  }
}

.achievements {
  i {
    color: c.$whiteColor;
    font-size: 46px;
    text-shadow: 0 0 5px rgba(0,0,0,.8);
  }

  .achiev-text-top {
    padding-top: 20px;
    font-size: 24px;
  }

  .achiev-text-bottom {
    text-transform: uppercase;
  }
}

.contact {
  position: relative;
  background-image: url('../img/america.jpg');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  z-index: 1;

  .contact-shadow {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,9,27,.85);
    z-index: -1;
  }

  .contact-us {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .contact-item {
    padding: 10px 0;
    color: c.$whiteColor;

    h3 {
      text-transform: uppercase;
      padding-bottom: 10px;
      letter-spacing: 2px;
    }
  }

  h2 {
    color: c.$whiteColor;
  }

  .social-media {
    a {
      padding: 0 20px;
      color: c.$whiteColor;
      font-size: 26px;
      transition: color .6s;
    }
    a:hover {
      color: c.$mainColor;
    }
  }


}

@media (min-width: 375px) {
  header {
    .image-text {
      h1 {
        font-size: 36px;
      }

      p {
        font-size: 16px;
      }
    }
  }
}

@media (min-width: 768px) {
  header {
    .image-text {
      h1 {
        font-size: 42px;
      }

      p {
        font-size: 20px;
      }
    }
  }
}

@media (min-width: 992px) {
  nav {
    height: 82px;
  }

  .prices {
    .price-info {
      font-size: 18px;
    }
  }
}

